<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Kriptografi by Joshua</title>
</head>
<body>
    <div class="container">
        <h1>Kriptografi</h1>
        <form method="POST" enctype="multipart/form-data">
            <label>Masukan Text:</label><br>
            <textarea name="message" rows="3" cols="50" placeholder="Silahkan masukan disini..."></textarea><br>

            <label>Unggah File:</label><br>
            <input type="file" name="file"><br>

            <label>Key:</label><br>
            <input type="text" name="key" placeholder="min. 12 karakter" required>

            <label>Pilih Jenis Cipher:</label><br>
            <select name="cipher">
                <option value="vigenere">Vigenere Cipher</option>
                <option value="playfair">Playfair Cipher</option>
                <option value="hill">Hill Cipher</option>
            </select><br>

            <label>Jenis Aksi:</label><br>
            <input type="submit" name="action" value="Encrypt">
            <input type="submit" name="action" value="Decrypt"><br>

        </form>

        <h2>Hasil:</h2>
        <textarea rows="3" cols="50" readonly>{{ result }}</textarea>
    </div>
</body>
</html>